parameters:


application:
	errorPresenter:
		4xx: Error4xx
		5xx: Error5xx
	mapping: App\*Module\Presenters\*Presenter


leanmapper:
    db:
        host: localhost
        username: root
        password: ???
        database: foo

latte:
	strictTypes: yes


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
